<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqZwEajfNamI-3SId-rCQH6a4OIi-wLMo</string>
	<key>GCM_SENDER_ID</key>
	<string>275135791976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snowParadise</string>
	<key>PROJECT_ID</key>
	<string>snow-paradise</string>
	<key>STORAGE_BUCKET</key>
	<string>snow-paradise.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275135791976:ios:ae0527451cf9b3f7418cdd</string>
</dict>
</plist>